<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Elizabeth Lee</p>
    <p>Sophomore</p>
    <p>Physics Major</p>
    <img src="/efl2121-final/static/elizabeth_final.jpg" alt="Elizabeth Photo"> 
    <br>
    <a href="/bookreviews"> Read my thoughts on some books I've read </a>
    <br>
    <a href="/quarantineactivities"> Activities for quarantine </a>
    <br>
    <a href="https://www.youtube.com/"> most used website</a>
    </body>
</html>

