<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Elizabeth Lee<h1>
    <h4>Sophomore, Physics Major</h4>   
    <img src="/static/elizabethphoto.jpg" alt="Elizabeth Photo"> 
    <br>
    <a href="/bookreviews"> my thoughts on some books </a>
    <br>
    <a href="/quarantineactivities"> activities for quarantine </a>
    <br>
    <p> This <a href="http://www.fallen.io/ww2/"> video </a> about deaths during World War II is incredibly well done and you should watch it. Really good use of visuals and data. </p>
    </body>
</html>

