<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1> Quarantine Activities to Try </h1> 
    <ul>
    <li>Have a pool party! Get some friends on a zoom call, put on your swimsuit and get in a bathtub if you have one. Change your virtual background to a pool. Bring snacks that feel pool-party-ish to you. For me that means goldfish and watermelon.</li>
    <li>Try doing an instructionless project. Bake cookies without a recipe and see how they turn out. Sew something without a pattern.</li>
    <li>Or make one of those recipes from the back of a cereal box</li>
    <li>Make some  parachutes out of things lying around your domicile, and then parachute Barbies from a porch or window. (Only appropriate for more rural dwellers)</li>
    <li>Watch these newborn falcons live on a <a href="https://calfalcons.berkeley.edu/webcams/"> webcam</a></li>
    <li>Go adventure napping! Try napping in different locations, particularly unexpected nooks and crannies</li>
    </ul>
    </body>
</html>

