<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <em> Quarantine Activities to Try </em> 
    <ul>
    <li>Have a pool party! Get some friends on a zoom call, put on your swimsuit and get in a bathtub if you have one. Change your virtual background to a pool. Bring snacks that feel pool-party-ish to you. For me that means goldfish and watermelon.</li>
    <li>Try doing an instructionless project. Bake cookies without a recipe and see how they turn out. Sew something without a pattern.</li>
    <li>Make some small parachutes out of whatever you have around, and then parachute Barbies or some other toy out a window or off a porch. (Only appropriate for more rural dwellers)</li>
    <li>Watch these newborn falcons live on a <a href="https://calfalcons.berkeley.edu/webcams/"> webcam</a></li>
    </ul>
    </body>
</html>

